#Ignore the dataset
#IMPORTANT: make sure that your dataset is stored in a folder with the same as the one specified below

hw1_data/*
*png
*jpg
logdir
*__pycache__
*checkpoints
log/
*finetune_checkpoints_SettingC*
command
modelA_evaluation
*ckpt
finetune_checkpoints_SettingA
tsne_results
command.md
checkpoint_dir
tsne_results
modelB_evaluation
modelA_evaluation
modelA_checkpoints*
results